---
import { shoes } from '@/consts/shoes';
import Layout from '@/layouts/Layout.astro';
import ShoeToCart from '@/components/ShoeToCart';

export async function getStaticPaths() {
  return shoes.map((shoe) => ({
    params: { id: shoe.id },
  }));
}

const { id } = Astro.params;

const shoe = shoes.find((shoe) => shoe.id === id);
if (!shoe) return Astro.redirect('/');
---

<Layout>
  <article class="flex items-center justify-center mt-36">
    <div
      class="flex flex-col md:flex-row bg-light mx-4 md:mx-16 mt-4 rounded-2xl p-4 gap-4"
    >
      <picture
        class="flex flex-row md:flex-col gap-4 justify-center items-center"
      >
        {
          shoe.images[1] && (
            <img
              class="bg-white rounded-2xl w-45 xl:w-100 2xl:w-100"
              src={shoe.images[1]}
              alt={`imagen del zapato ${shoe.name} 2`}
            />
          )
        }
        {
          shoe.images[2] && (
            <img
              class="bg-white rounded-2xl w-45 xl:w-100 2xl:w-100"
              src={shoe.images[2]}
              alt={`imagen del zapato ${shoe.name} 3`}
            />
          )
        }
      </picture>
      <picture class="bg-white rounded-2xl flex items-center justify-center">
        <img
          class="min-h-40 min-w-50 md:min-h-80 md:min-w-100"
          src={shoe.images[0]}
          alt={`imagen del zapato ${shoe.name} 1`}
          transition:name={`shoe-image-${shoe.id}`}
        />
      </picture>
      <ShoeToCart client:load shoe={shoe} />
    </div>

    <!--  -->
  </article></Layout
>
