---
import { shoes } from '@/consts/shoes';
import Star from '@/icons/Star.astro';
import Plus from '@/icons/Plus.astro';
---

<div class="grid grid-cols-4 my-12 gap-4">
  {
    shoes.map((shoe) => (
      <article
        class=" flex flex-col bg-light justify-center p-6 rounded-2xl gap-y-6 hover:-translate-y-4 hover:bg-primary group transition 
      cursor-pointer"
      >
        <a class="flex" href={`/shoes/${shoe.id}`}>
          <picture class="relative top-0 bg-white p-4 rounded-xl">
            <p class="flex items-center gap-2 absolute font-semibold text-base bg-light p-2 rounded-xl">
              {shoe.rating}
              <Star class="text-yellow-400" />
            </p>
            <img
              class="h-64 object-contain"
              src={shoe.images[0]}
              alt={`Imagen de el Zapato ${shoe.name}`}
              transition:name={`shoe-image-${shoe.id}`}
            />
          </picture>
          <div class="flex flex-col gap-2">
            <div class="flex justify-between">
              <h2 class="font-semibold w-64 group-hover:text-white transition">
                {shoe.name}
              </h2>
              <button>
                <a
                  class="bg-white p-2 inline-flex rounded-full"
                  href={`/shoes/${shoe.id}`}
                >
                  <Plus />
                </a>
              </button>
            </div>
            <div class="flex justify-between">
              <p class="text-lg font-rubik text-black/60 group-hover:text-white transition">
                {shoe.maker}
              </p>
              <p class="text-xl tracking-widest font-rubik font-bold group-hover:text-white transition">
                ${shoe.price}.00
              </p>
            </div>
          </div>
        </a>
      </article>
    ))
  }
</div>
